@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800&display=swap');


:root{
    --font-family: 'Work Sans', sans-serif;
    --footer-font: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


h1{
    font-size: 65px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 40px;
}

h5{
    font-size: 30px;
}

h6{
    font-size: 25px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}


/* hero section start */
.hero-section{
  background-image: url(../assets/images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.hero-section .hero-right{
    padding-top: 216px;
    padding-bottom: 290px;
    width: 50%;
    margin-left: auto;
}
.hero-title h1{
    width: 525px;
    color: #fff;
    text-align: right;
    font-family: var(--font-family);
    font-weight: 700;
    margin-left: 33px;
    margin-bottom: 15px;
}
.hero-title p{
    width: 494px;
    color: #fff;
    text-align: right;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 52px;
    margin-left: 65px;
}


.hero-btn{
   padding: 21px 25px 20px 26px;
   background-color: #fff;
   border-radius: 5px;
   text-decoration: none;
   color: #005FAC;
   text-align: right;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 600;
   margin-left: 400px;
}

/* client section start */
.client-section{

}

.client-section .client-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}
.client-section .client-box .left-box{
    margin-top: 120px;
}
.client-box .right-box{
    margin-top: 270px;
}
.client-box .right-box h3{
    width: 288px;
    color: #151414;
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 21px;
}
.client-box .right-box p{
    width: 416px;
    color: #444343;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.right-box .text .single-text{
    display: flex;
    
}
.right-box .text .single-text p{
    color: #444343;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

/* plan section start */
.plan-section{
    
}
.plan-section-box .plan-section-heading h3{
    color:  #151414;
    text-align: center;
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 50px;
}
.plan-section-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
}
.plan-section-bottom .plan-bottom-box{
    text-align: center;
}
.plan-section-bottom .plan-bottom-box h5{
    color: #151414;
    text-align: center;
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 15px;
}
.plan-section-bottom .plan-bottom-box span{
    color: #737272;
    text-align: center;
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: 500;
}

/* image section start */
.image-section{
    margin-top: 135px;
}
.image-section .image-box{
    height: 300px;
    background-image: url(../assets/images/watch.png);
    border-radius: 8px;
    background-repeat: no-repeat;
    
}
.image-section .image-box .linear-div{
    height: 300px;
    border-radius: 8px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%);
}
.image-box .linear-div h3{
    width: 459px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 700;
    padding: 60px 617px 43px 64px;
}
.image-box .linear-div .image-btn{
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    text-decoration: none;
    padding: 21px 36px 20px 36px;
    color: #005FAC;
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 600;
    margin-left: 64px;
}